<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button [matMenuTriggerFor]="items">Menu</button>

    <mat-menu #items="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="dynamicform">Dynamic Form</button>
      <button mat-menu-item [matMenuTriggerFor]="table">Table</button>
    </mat-menu>

    <mat-menu #dynamicform="matMenu">
      <button mat-menu-item routerLink="/form/form-simple">Simple example</button>
      <button mat-menu-item routerLink="/form/mat-form-field">Mat-form-field</button>
      <button mat-menu-item routerLink="/form/input">Input</button>
      <button mat-menu-item routerLink="/form/select">Select</button>
      <button mat-menu-item routerLink="/form/textarea">Textarea</button>
      <button mat-menu-item routerLink="/form/radio-button">Radio Button</button>
      <button mat-menu-item routerLink="/form/date">Date</button>
      <button mat-menu-item routerLink="/form/time">Time</button>
      <button mat-menu-item routerLink="/form/datetime">Datetime</button>
      <button mat-menu-item routerLink="/form/autocomplete">Autocomplete</button>
      <button mat-menu-item routerLink="/form/validations">Validations</button>
      <button mat-menu-item routerLink="/form/custom">Custom component</button>
      <button mat-menu-item routerLink="/form/dynamic-example">Dynamic example</button>
    </mat-menu>

    <mat-menu #table="matMenu">
      <button mat-menu-item routerLink="/table/table">Table</button>
      <button mat-menu-item routerLink="/table/responsive">Responsive</button>
      <button mat-menu-item routerLink="/table/selection">Selection</button>
      <button mat-menu-item routerLink="/table/pagination">Pagination</button>
      <button mat-menu-item routerLink="/table/edition">Edition</button>
      <button mat-menu-item routerLink="/table/filter">Filtering</button>
    </mat-menu>


  </mat-toolbar-row>
</mat-toolbar>
<div class="content">
  <router-outlet></router-outlet>
</div>
